@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yusei Magic', sans-serif;
  color: #fff;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.mainContainer {
  background: url('./assets/bg7.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* General Classes */

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/*Welcome Page*/
.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.logo {
  height: 200px;
  margin-top: 50px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 36px;
}

.setup {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 50%;
  gap: 24px;
  font-size: 24px;
  justify-content: center;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.actions .players,
.lore,
.name {
  text-align: center;
  align-self: center;
  font-size: 40px;
}

.player-name {
  color: black;
  text-align: center;
  border-radius: 16px;
  border: none;
  padding: 8px;
  font-size: 20px;
}

.btn {
  font-size: 56px;
}

.start {
  font-size: 56px;
}

.two-players {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 20%;
  width: 100%;
}

.three-players {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  height: 100vh;
  width: 100%;
}

.four-players {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  height: 100vh;
  width: 100%;
}
